body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container-fluid {
    width: 100%;
    padding: 20px 40px; /* Add some spacing to avoid elements sticking to the edges */
}

h1, h2 {
    color: #343a40;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.graph-container {
    padding: 10px;
}

/* Make buttons consistent */
.btn-lg {
    width: 200px;
}
